    <footer>
        <div class="center_box">
            <div class="half_box">
                <div class="footer_info">
                    <a class="footer_logo">
                        <img src="/pc/image/logo_2.png">
                    </a>

                    <ul class="company_info">
                        <li class="company_item">
                            <p class="company_info_text">
                                Company Registration No. <span>305-88-00733</span>
                            </p>
                            <p class="company_info_text">
                                Office <span>I’TOWER 13F, 14F 326, Teheran-ro, Gangnam-gu, Seoul, Republic of Korea</span>  
                            </p>
                            <p class="company_info_text">
                                Tel. +82 2-6952-6020 <span class="company_tel">Fax. +82 2-6952-6021</span>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="footer_info">
                    <p class="company_copyright">
                        <a href="/en/policy" class="privacy_link" target="_blank">Privacy Policy</a>
                        <span>Copyright ⓒSOFTWIZ Crop. All Rights Reserved.</span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>