<div class="Container">
	<header class="header_box">
		<div class="center_box">
			<nav>
				<a href="/en/careers" class="logo_box">
					<img src="/pc/image/logo.png">
					<span>careers</span>
				</a>
				<div class="m_menuBtn"></div>
				<ul class="gnb_box">
					<li class="gnb_item m_headBox">
						<!-- <div class="selectbox">
							<p class="select_value">
							<img src="/pc/image/GBP.png">
							</p>
							<ul class="select_list">
							<li class="select_item">
								<p>English</p>
							</li>
							<li class="select_item">
								<p>한국어</p>
							</li>
							<li class="select_item">
								<p>Indonesia</p>
							</li>
							<li class="select_item">
								<p>Tiếng Việt</p>
							</li>
							<li class="select_item">
								<p>Español</p>
							</li>
							<li class="select_item">
								<p>Português</p>
							</li>
							<li class="select_item">
								<p>中文</p>
							</li>
							<li class="select_item">
								<p>日本語</p>
							</li>
							</ul>
						</div> -->
						<div class="m_closeBox"></div>
					</li>
					<li class="gnb_item">
						<a href="/">
							<p>Company Overview</p>
						</a>
					</li>
					<li class="gnb_item careers_gnb">
						<a href="/en/careers">
							<p>Culture</p>
						</a>
					</li>
					<li class="gnb_item opening_gnb">
						<a href="/en/openVacancies">
							<p>Job Opening</p>
						</a>
					</li>
					<!-- <li class="gnb_item">
						<div class="selectbox">
							<p class="select_value">
								<img src="/pc/image/GBP.png">
							</p>
							<ul class="select_list">
								<li class="select_item">
									<p>English</p>
								</li>
								<li class="select_item">
									<p>한국어</p>
								</li>
								<li class="select_item">
									<p>Indonesia</p>
								</li>
								<li class="select_item">
									<p>Tiếng Việt</p>
								</li>
								<li class="select_item">
									<p>Español</p>
								</li>
								<li class="select_item">
									<p>Português</p>
								</li>
								<li class="select_item">
									<p>中文</p>
								</li>
								<li class="select_item">
									<p>日本語</p>
								</li>
							</ul>
						</div>
					</li> -->
				</ul>
			</nav>
		</div>
	</header>