<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <% include ./layout/head %>

    <script type="text/javascript">
        window.onhashchange = function() {
            loaction.reload();
        }
    var ready = false;
        $(document).ready(function() {
            vacancy_tab_select();
            order_tab_select();
            get_company_list();
            
            // search쪽 엔터키 이벤트 처리
            $("#search_word").keyup(function() {
                recall_vacancy_list();
            });

            $("#search_btn").click(function(){
                recall_vacancy_list();
            });

            // 부서별 filter click event
            $('.filter_item').click(function() {

                if ($(this).find('.filter_btn').is(':checked') == true) {
                    $(this).addClass('on');
                } else {
                    if($('.filter_item').hasClass('on')) {
                        $('.filter_item').removeClass('on');
                    }
                }
            });
            // 라디오버튼 클릭 이벤트
            $('.filter_btn').click(function() {
                get_company_list();
            })
            
            $('#select_type').change(function() {
                    get_company_list();
            })
        });

        function init_search_info () {
            for (var i in search_info) {
                // if (search_info.company) {
                //     $("#company").val('(주)소프트위즈');
                // }
                // if (search_info.department) {
                //     $(".filter_item on").attr('name');
                // }
                if (search_info.search_word) {
                    $("#search_word").val(search_info.search_word);
                }
                // // 값 조정하는 부분이 없음.
                // if (search_info.order && search_info.order == "N") {
                //     $('.floatR a').eq(0).trigger('click');
                // }
                // if (search_info.page) {
                //     page = parseInt(search_info.page);
                // }
            }
            ready = true;
        }

        function vacancy_tab_select () {
            $('.job_row').on('click',function() {
                // console.log("search_info", search_info)
                if($(this).hasClass('on')){
                    //$('.tab_basic ul li').removeClass('on');
                }else{
                    $('.job_row').removeClass('on');
                    $(this).addClass('on');
                }

                recall_vacancy_list();
            });
        };

        // newest, deadline add/remove class="on"
        function order_tab_select () {
            $('.floatR a').on('click',function() {
                if($(this).hasClass('on')){
                    //$('.tab_basic ul li').removeClass('on');
                }else{
                    $('.floatR a').removeClass('on');
                    $(this).addClass('on');
                }
            });
        }

        function get_company_list() {
            $.ajax({
                url : '/ajax/company',
                type : "POST",
                success : function(result) {
                $("#companies").empty();
                $("#companies").append("<option value=''>All</option>");
                    for (var i = 0; i < result.length; i++) {
                    var t = "<option value='" + result[i].COMPANY_SEQ + "'>" + result[i].COMPANY + "</option>";
                    $("#companies").append(t);
                    }
                    init_search_info();
                    get_vacancy_list();
                },
                error : function() {
                $("#companies").empty();
                $("#companies").append("<option value=''>All</option>");
                    alert('조회 중 오류가 발생했습니다.');
                }
            });
        }
        var page = 0;
        var rows = 20;
        var order = "D";

        function recall_vacancy_list() {
        if (!ready) return;
            page = 0;
            get_vacancy_list();
        }

        function move_detail(seq, rnum, tnum) {
          // rnum 앞뒤 체크(prev_no, next_no)
            search_info.rnum = rnum;
            search_info.tnum = tnum;
            move_link("/en/openVacancies/" + seq, search_info);
        }

        // 날짜나 달에 1의 자리만 있을 경우 0을 붙여주는 함수.
        function day_month_format(n) {
            return (n < 10 ? '0' : '') + n;
        }
        
        var search_info = {};

        <% for (var i in search_info) { %>
            search_info.<%= i %> = "<%= search_info[i] %>";
        <% } %>

        function get_vacancy_list() {
            if (!ready) return;

            // // name이 같은 div 값들을 배열에 담는다.
            // var checkboxNames = new Array();
            // $('.filter_item.on').each(function (idx) {
            //     checkboxNames.push($(this).attr('name'));
            // });

            search_info = {
                    exp_set: $("#select_type").val().toUpperCase(),
                    // company : $("#companies").val(),
                    // department : $("#departments").val(),
                    // exp_set: "ALL",
                    // company : "",
                    department : isEmpty($('.filter_item.on').attr('name')) ? '' : $('.filter_item.on').attr('name'), 
                    // department : "",
                    search_word : $("#search_word").val(),
                    order : order,
                    page : page,
                    rows : rows, 
            };
            console.log("search_info222", search_info)
            $.ajax({
                url : '/ajax/vacancy',
                type : "POST",
                data : search_info,
                success : function(result) {
                    if (page == 0) $(".job_table").empty();
                    var tgt = $(".job_table");
                    for (var i = 0; i < result.length; i++) {
                        var now = new Date().getTime();
                        // date 포맷 변환
                        var end = Date.parse(result[i].END_DTIME);
                        var period = result[i].RECRUITMENT_PERIOD;
                        var term = (period == "RE") ? "always" : (now - end > 0) ? "closed" : "day";
                        // comp : global, forex, investSVG, investCyprus, investMauritius, option, fx
                        var comp_logo = result[i].LOGO_FILE;
                        var is_new = (now - Date.parse(result[i].START_DTIME) > 3 * 24 * 60 * 60 * 1000) ? false : true;
                        var calc_days = Math.ceil((end - now)/1000 / 3600 / 24);
        
                        //  Start 날짜 포맷 만들기.
                        var s_date = new Date(result[i].START_DTIME);
                        var s_month = day_month_format(s_date.getMonth()+1); //months (0-11)
                        var s_day = day_month_format(s_date.getDate()); //day (1-31)
                        var s_year= s_date.getFullYear();
                        var s_date_format =  s_day + "." + s_month + "." + s_year;

                        // End 날짜 포맷 만들기.
                        var e_date = new Date(result[i].END_DTIME);
                        var e_month = day_month_format(e_date.getMonth()+1); //months (0-11)
                        var e_day = day_month_format(e_date.getDate()); //day (1-31)
                        var e_year= e_date.getFullYear();
                        var e_date_format =  e_day + "." + e_month + "." + e_year;
                        // 태그 form 수정.
                        var tag = result[i].TAG.split(',').join('ㆍ');

                        var str = "";
                        var job = "";

                            job += `<a onclick='move_detail(${result[i].JOBS_SEQ }, ${result[i].no}, ${result[i].t_cnt },)'>`
                            job += `<div class='job_row' id="job_row">
                                        <div class='job_th'>
                                            <p class='job_title'>
                                                ${result[i].TITLE}
                                            </p>
                                        </div>
                                        <div class='job_td'>`
                            job +=          `<p class='tag_text'>${tag}</p>`
                            job +=     `</div>
                                        <div class='job_td'>
                                            <p class='employ_type'> ${result[i].EXP_SET.split(',').join("\n")} </p>
                                        </div>
                                        <div class='job_td'>`
                                if (term == "always") {
                                    job += "<p class='employ_term'> Always </p>"
                                } else {
                                    job += "<p class='employ_term term_ing'> " + " ~ " + e_date_format + "</p>"
                                }
                            job +=      `</div>
                                    </div>`
                        tgt.append(job);
                    }

                    // 공고가 없을 때
                    if(isEmpty($("#search_word").val()) == true && result.length <= 0) {
                        // 이미지 변경.
                        $(".job_miss").attr("src", "/pc/image/bg15.png");
                        // 공고가 없을 때에 맞게 block처리.
                        $(".job_miss").css("display", "block");
                        $(".job_none_title .job_matching").css("display", "none");
                        $(".job_none_title .job_offer").css("display", "block");
                        $(".job_back_text").css("display", "block");
                        $(".job_none_box").css("display", "block");
                    // 검색결과가 없을 때
                    } else if (isEmpty($("#search_word").val()) == false && result.length <= 0) {
                        // 이미지 변경
                        $(".job_miss").attr("src", "/pc/image/bg16.png");
                        // 데이터가 존재하는 상태에서 검색하는 것이기 때문에 title을 block, offer를 none처리.
                        $(".job_none_box").css("display", "block");
                        $(".job_none_title .job_offer").css("display", "none");
                        // 검색결과가 없을 때에 맞게 block 처리
                        $(".job_miss").css("display", "block");
                        $(".job_none_title .job_matching").css("display", "block");
                        $(".job_back_text").css("display", "block");
                    }
                    // 공고가 존재할 때
                    else {
                        $(".job_miss").css("display", "none");
                        $(".job_none_title .job_offer").css("display", "none");
                        $(".job_none_title .job_matching").css("display", "none");
                        $(".job_back_text").css("display", "none");
                    }
                },
                error : function() {
                    alert('조회 중 오류가 발생했습니다.');
                }
            });

            job_tagSlide();
        }

        function isEmpty(val){
            return (val === undefined || val == null || val.length <= 0) ? true : false; 
        }

        function job_tagSlide() {
            const slider = document.querySelector('.filter_list');
            let isMouseDown = false;
            let startX, scrollLeft;

            slider.addEventListener('mousedown', (e) => {
                isMouseDown = true;
                slider.classList.add('active');

                startX = e.pageX - slider.offsetLeft;
                scrollLeft = slider.scrollLeft;
            });

            slider.addEventListener('mouseleave', () => {
                isMouseDown = false;
                slider.classList.remove('active');
            });

            slider.addEventListener('mouseup', () => {
                isMouseDown = false;
                slider.classList.remove('active');
            });

            slider.addEventListener('mousemove', (e) => {
                if (!isMouseDown) return;

                e.preventDefault();
                const x = e.pageX - slider.offsetLeft;
                const walk = (x - startX) * 1;
                slider.scrollLeft = scrollLeft - walk;
            });

            // let job_resize = document.documentElement.clientWidth;

            // let tag_slide = $('.filter_list').bxSlider({
            //     pager: false,
            //     controls: false,
            //     minSlides: 1,
            //     maxSlides: 5,
            // });     
            // $('.filter_list').slick();
            console.log('asd')

        //     if (job_resize <= 890) {
        //         tag_slide.reloadSlider();
        //     } else {
        //         tag_slide.destroySlider();
        //     }

        //     $(window).on('resize', function() {
        //         if(window.innerWidth <= 890)  {
        //             tag_slide.reloadSlider();
        //         } else {
        //             tag_slide.destroySlider();
        //         }
        //     })
        }


        // function highlight_search_word(str) {
        //     if (!str || str == "") return str;
        //     if ($("#search_word").val().trim() == "") return str;
        //     var ret = str.replace($("#search_word").val(), "<span style='margin:0;'>"+$("#search_word").val()+"</span>");

        //     return ret;
        // }
        </script>
    </head>
    <body>
    <% include ./layout/header %>
    
    <div class="sub_header">
        <div class="center_box job_bg">
            <p class="sub_page_title"><span class="softwiz_color">Just be</span> SOFTWIZ!</p>
            <p class="sub_page_text">Find the most suitable position for you. and challenge yourself!</p>
        </div>
    </div>

    <div class="one_container">
        <section class="sec_1">
            <div class="center_box">
                <div class="job_header">
                    <p class="employment_title">JOB OPENING</p>
                    
                    <div class="filter_list" id="filter">
                        <div class="filter_item" name ="">
                            <input type="radio" class="filter_btn" name="filter_chk" id="all" checked>
                            <label for="all" class="filter_name">All</label>
                        </div>
                        <div class="filter_item" name="RD">
                            <input type="radio" class="filter_btn" name="filter_chk" id="RD">
                            <label for="RD" class="filter_name">R&D Laboratory</label>
                        </div>
                        <div class="filter_item" name="SP">
                            <input type="radio" class="filter_btn" name="filter_chk" id="SP">
                            <label for="SP" class="filter_name">Strategic Planning</label>
                        </div>
                        <div class="filter_item" name="MS">
                            <input type="radio" class="filter_btn" name="filter_chk" id="MS">
                            <label for="MS" class="filter_name">Management Support</label>
                        </div>
                        <div class="filter_item" name="DE">
                            <input type="radio" class="filter_btn" name="filter_chk" id="DE">
                            <label for="DE" class="filter_name">Design</label>
                        </div>
                        <div class="filter_item" name="PL">
                            <input type="radio" class="filter_btn" name="filter_chk" id="PL">
                            <label for="PL" class="filter_name">Planning</label>
                        </div>
                        <div class="filter_item" name="BD">
                            <input type="radio" class="filter_btn" name="filter_chk" id="BD">
                            <label for="BD" class="filter_name">Big Data</label>
                        </div>
                        <div class="filter_item" name="SER">
                            <input type="radio" class="filter_btn" name="filter_chk" id="SER">
                            <label for="SER" class="filter_name">Server</label>
                        </div>
                        <div class="filter_item" name="CE">
                            <input type="radio" class="filter_btn" name="filter_chk" id="CE">
                            <label for="CE" class="filter_name">Client</label>
                        </div>
                        <div class="filter_item" name="WEB">
                            <input type="radio" class="filter_btn" name="filter_chk" id="WEB">
                            <label for="WEB" class="filter_name">Web</label>
                        </div>
                        <div class="filter_item" name="CID">
                            <input type="radio" class="filter_btn" name="filter_chk" id="CID">
                            <label for="CID" class="filter_name">CID</label>
                        </div>
                        <div class="filter_item" name="FID">
                            <input type="radio" class="filter_btn" name="filter_chk" id="FID">
                            <label for="FID" class="filter_name">FID</label>
                        </div>
                        <div class="filter_item" name="ECS">
                            <input type="radio" class="filter_btn" name="filter_chk" id="ECS">
                            <label for="ECS" class="filter_name">ECS</label>
                        </div>
                        <div class="filter_item" name="IS">
                            <input type="radio" class="filter_btn" name="filter_chk" id="IS">
                            <label for="IS" class="filter_name">Infra&Security</label>
                        </div>
                        <div class="filter_item" name="SO">
                            <input type="radio" class="filter_btn" name="filter_chk" id="SO">
                            <label for="SO" class="filter_name">Service Operation</label>
                        </div>
                        <div class="filter_item" name="SM">
                            <input type="radio" class="filter_btn" name="filter_chk" id="SM">
                            <label for="SM" class="filter_name">Strategic Marketing</label>
                        </div>
                        <div class="filter_item" name="VC">
                            <input type="radio" class="filter_btn" name="filter_chk" id="VC">
                            <label for="VC" class="filter_name">Video Contents</label>
                        </div>
                        <div class="filter_item" name="RMS">
                            <input type="radio" class="filter_btn" name="filter_chk" id="RMS">
                            <label for="RMS" class="filter_name">RMS Business Dept.</label>
                        </div>
                    </div>
                    
                    <div class="job_search_box">
                        <div class="input_box search_box">
                            <input type="search" class="job_search" placeholder="Job search" id="search_word" maxlength="30">
                        </div>

                        <select class="selectBox normal_select job_select" id="select_type">
                            <option class="select_item" value="all">All Employment Type</option>
                            <option class="select_item" value="Newcomer">Newcomer</option>
                            <option class="select_item" value="Experienced">Experienced</option>
                            <option class="select_item" value="Contractor">Contractor</option>
                        </select>
                    </div>
                </div>

                <div class="job_body">
                    <div class="job_table">
                    </div>
                    <div class="job_none_box">
                        <div class="job_none_view">
                            <div class="job_none_img">
                                <img src="/pc/image/bg15.png" class="job_miss">
                            </div>
                            <!-- 공고 없을 시 -->
                            <p class="job_none_title">
                                <span class="job_offer">There is no job offer currently in progress.</span>
                                <span class="job_matching">There are no matching search results.</span>
                            </p>
                            <!-- 검색결과 없을 시 -->
                            <p class="job_back_text">
                                Try searching for another term or go back to the <span class="softwiz_color">list</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
        <% include ./layout/footer %>
    </body>
</html>