<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
	<% include ./layout/head %>
	<script>
		$(document).ready(function() {
			get_vacancy_detail();
		});

	var search_info = {};
    <% for (var i in search_info) { %>
      search_info.<%= i %> = "<%= search_info[i] %>";
	<% } %>
	
	function move_to_list() {
		// 리스트 페이지 돌아갈 때 페이지 초기화
		search_info.page = 0;
		move_link("/en/openVacancies", search_info);
	}
	function move_to_next() {
		// debugger;
		search_info.rnum++;
		move_link("/en/openVacancies/"+search_info.rnum, search_info);
	}
	function move_to_prev() {
		search_info.rnum--;
		move_link("/en/openVacancies/"+search_info.rnum, search_info);
	}
	// 날짜나 달에 1의 자리만 있을 경우 0을 붙여주는 함수.
	function day_month_format(n) {
		return (n < 10 ? '0' : '') + n;
	}
	function shareTwitter(text){
		var sendText = text;
		//var sendUrl = "www.mysoftwiz.com/en/openVacancies/"+seq; // 전달할 URL
		window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + window.location.href);
	}
	function shareFacebook(text){
		//var sendUrl = "www.mysoftwiz.com/en/openVacancies/"+seq; // 전달할 URL
		window.open("http://www.facebook.com/sharer/sharer.php?u=" + window.location.href);
	}
	function shareLink(){
		//var sendUrl = "www.mysoftwiz.com/en/openVacancies/"+seq;
		var textArea = document.createElement("textarea");
		document.body.appendChild(textArea);
		textArea.value = window.location.href;
		textArea.select();

		document.execCommand('copy');
		document.body.removeChild(textArea);
		
		alert("The link has been copied.");
	}
	

	function get_vacancy_detail() {
        $.ajax({
		url : '/ajax/vacancy_detail',
		type : "POST",
		data : search_info,
		success : function(result) {
			// prev / next 제어하기 위해 type 변환. 
			var rnum = parseInt(search_info.rnum);
			var tnum = parseInt(search_info.tnum);
			
			if (result.length != 1) {
				alert(" 에러 ");
				return;
			}
			$("#contents").empty();
			for (var i = 0; i < result.length; i++) {
				var p = result[i];
                var now = new Date().getTime();
				var end = Date.parse(p.END_DTIME);
                var period = result[i].RECRUITMENT_PERIOD;
                var term = (period == "RE") ? "always" : (now - end > 0) ? "closed" : "day";
                var comp_logo = result[i].LOGO_FILE;
				var is_new = (now -  Date.parse(p.START_DTIME) > 3 * 24 * 60 * 60 * 1000) ? false : true;
				
				//  Start 날짜 포맷 만들기.
				var s_date = new Date(p.START_DTIME);
				var s_month = day_month_format(s_date.getMonth()+1); //months (0-11)
				var s_day = day_month_format(s_date.getDate()); //day (1-31)
				var s_year= s_date.getFullYear();
				var s_date_format =  s_day + "." + s_month + "." + s_year;

				// End 날짜 포맷 만들기.
				var e_date = new Date(p.END_DTIME);
				var e_month = day_month_format(e_date.getMonth()+1); //months (0-11)
				var e_day = day_month_format(e_date.getDate()); //day (1-31)
				var e_year= e_date.getFullYear();
				var e_date_format =  e_day + "." + e_month + "." + e_year;
				var str = "";

				let department = p.DEPARTMENT;
				if (department == "RD") 
					department = "R&D Laboratory";
				else if (department == "SP")
					department = "Strategic Planning";
				else if (department == "MS")
					department = "Management Suppor";
				else if (department == "DE")
					department = "Design";
				else if (department == "PL")
					department = "Planning";
				else if (department == "BD")
					department = "Big Data";
				else if (department == "SER")
					department = "Server";
				else if (department == "CL")
					department = "Client";
				else if (department == "WEB")
					department = "Web";
				else if (department == "ECS")
					department = "ECS";
				else if (department == "IS")
					department = "Infra&Security";
				else if (department == "SO")
					department = "Service Operation";
				else if (department == "SM")
					department = "Strategic Marketing";
				else if (department == "VC")
					department = "Video Contents";
				else if (department == "RMS")
					department = "RMS Business Dept.";
				// Tag format 수정
				var tag = p.TAG.split(',').join('ㆍ');

				// EXP_SET format 수정
				var exp_set = p.EXP_SET.split(',').join(', ');
				str += ` <div class="sub_header detail_hd_bg" id="part_bg">
							<div class="center_box">
								<p class="sub_page_title detail_title">${p.TITLE}</p>
								<p class="sub_page_text detail_sub_title">${tag}</p>
							</div>
						</div>`

				str += `<div class="one_container">
					<section class="sec_1">
						<div class="center_box">
							<div class="detatil_half">
								<div class="detail_information">
									${p.CONTENTS}
								</div>
								<div class="detail_application">
									<ul class="application_box">
										<li class="application_list apply_half">
											<p class="application_title">Employment Type</p>
											<p class="apply_type softwiz_color">
												${exp_set}
											</p>
										</li>
										<li class="application_list apply_half">
											<p class="application_title">Recruitment Period</p>
											<p class="apply_date softwiz_color">
												${s_date_format} ~ ${e_date_format}
											</p>
										</li>
										<li class="application_list apply_half">
											<p class="application_title">Occupational Group</p>
											<p class="apply_group softwiz_color">
												${department}
											</p>
										</li>
										<li class="application_list">
											<a href="/en/apply" class="apply_move">Apply now</a>
											<a href="/en/openVacancies" class="job_open_move">Job opening</a>
										</li>
										<li class="application_list share_half">
											<p class="share_title">Share</p>
											<div class="share_sns">
												<a href="https://www.instagram.com/" target="_blank" class="sns_btn">
													<img src="/pc/image/icon_4.png">
												</a>
												<a href="javascript:shareTwitter('${p.TITLE}');" class="sns_btn" id="twitter">
													<img src="/pc/image/icon_5.png">
												</a>
												<a href="javascript:shareFacebook('${p.TITLE}');" class="sns_btn" id="facebook">
													<img src="/pc/image/icon_6.png">
												</a>
												<a href="javascript:shareLink();" class="sns_btn" id="link">
													<img src="/pc/image/icon_7.png">
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
				</div>`

				// str += "<div class='" + term + (is_new ? " new" : "") +"'>";					
				// str += "	<div class='title'>";
				// str += "		<div class='floatL'>";
				// str += "			<p>" + p.COMPANY + "</p>				";
				// str += "			<h1>" + p.TITLE + "</h1> ";
				// str += "		</div>";
				// str += "		<div class='floatR'>";
				// // 그룹사 logo 파일 있으면 출력, 없으면 텍스트 출력
                // if(comp_logo) {
				// 	str  += '<img src="'+ comp_logo +'"/><br/>';
                // } else {
				// 	str  += result[i].COMPANY + "</span><br/>";
                // }

				// if (term == "always") {
                //     str += "<div class='date'> Regular employment </div>"
                // } else if (term == "day") {
				// 	var calc_days = Math.ceil((end - now)/1000 / 3600 / 24);
				// 	// d-day 30일부터 표시
				// 	if (calc_days <= 30) {
				// 		str += "<span class='status'>" + "D-" + (term == "day" ? calc_days : term) + "</span>"
                //         +  "<span class='date'> " + timestamp_to_date(p.START_DTIME) + " ~ " + timestamp_to_date(p.END_DTIME) + "</span>"
				// 	} else {
                //         str +=  "<span class='date'> " + timestamp_to_date(p.START_DTIME) + " ~ " + timestamp_to_date(p.END_DTIME) + "</span>"
				// 	}
                // } else {
				// 	str += "<span class='status'>" + term + "</span>"
                //         +  "<span class='date'> " + timestamp_to_date(p.START_DTIME) + " ~ " + timestamp_to_date(p.END_DTIME) + "</span>"
				// }
				// str += '		</div></div>';
				// str += '	</div>';
				// str += '	<div class="contents"> <!-- 내용 -->';
				// str += p.CONTENTS;
				// str += '	</div>';
				// if (now - end > 0) {
				// 	str += '	<button class="apply" style="visibility: hidden">Apply</button> ';
				// } else {
				// 	str += '	<button class="apply" onclick="location.href='+'&#39;mailto:recruit@babaglobal.com&#39;'+'">Apply</button> ';
				// }
				// str += '	<div class="tag">';
				// var tag = p.TAG;
				// var str_tag = tag ? tag.split(',') : [];
				// for (var j in str_tag) {
				// 	str += "	<span>#" + str_tag[j] + "</span>";
				// }
				// str += '	</div>';
				// str += '	<div class="btn_area">';
				// str += '		<div class="floatL">';
				// str += '			<a onclick="move_to_list()">List</a>';
				// str += '		</div>';
				// str += '		<div class="floatR">';
				
				// if (rnum != 1 && rnum <= tnum) {
				// 	str += '			<a class="prev" onclick="move_to_prev()">Previous</a>';
				// } else {
				// 	str += '			<a class="prev" id="disabled" onclick="" disabled="disabled">Previous</a>';
				// }
				
				// if (rnum < tnum) {
				// 	str += '			<a class="next" onclick="move_to_next()">Next</a>';
				// } else {
				// 	str += '			<a class="next" id="disabled" onclick="" disabled="disabled">Next</a>';
				// }
				// str += '		</div>';
				// str += '	</div>';
				// str += '</div>';
				$("#contents").append(str);

				if(p.DEPARTMENT == "SP" || p.DEPARTMENT == "PL" || p.DEPARTMENT == "CID" || p.DEPARTMENT == "FID" || p.DEPARTMENT == "ECS") {
					let imgUrl = "/pc/image/detail_bg1.png";
					document.getElementById('part_bg').style.backgroundImage = "url('"+ imgUrl +"')";
				}
				if(p.DEPARTMENT == "DE" ) {
					let imgUrl = "/pc/image/detail_bg2.png";
					document.getElementById('part_bg').style.backgroundImage = "url('"+ imgUrl +"')";
				}
				if(p.DEPARTMENT == "RD" || p.DEPARTMENT == "BD" || p.DEPARTMENT == "SER" || p.DEPARTMENT == "CL" || p.DEPARTMENT == "WEB" || p.DEPARTMENT == "IS" || p.DEPARTMENT == "RMS") {
					let imgUrl = "/pc/image/detail_bg3.png";
					document.getElementById('part_bg').style.backgroundImage = "url('"+ imgUrl +"')";
				}
				if(p.DEPARTMENT == "VC" ) {
					let imgUrl = "/pc/image/detail_bg5.png";
					document.getElementById('part_bg').style.backgroundImage = "url('"+ imgUrl +"')";
				}
				if(p.DEPARTMENT == "MS" || p.DEPARTMENT == "SO" || p.DEPARTMENT == "SM") {
					let imgUrl = "/pc/image/detail_bg4.png";
					document.getElementById('part_bg').style.backgroundImage = "url('"+ imgUrl +"')";
				}
			}

			},
			error : function() {
				alert('조회 중 오류가 발생했습니다.');
			}
        });

		window.addEventListener('scroll', () => {
			let apply_box = document.querySelector('.application_box');
			// console.log('test', location.pathname)
			if (window.scrollY >= 300) {
				apply_box.style.top = '105px'
			} else {
				apply_box.style.top = '0'
			}
		});
	}
	</script>
</head>
<body>
    <% include ./layout/header %>

	<!-- 바바글로벌 소스 -->
	<div class="container vacancies_view" id="contents">

	</div>
    <% include ./layout/footer %>
</body>
</html>