<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <% include ./layout/head %>
    <script>
        window.addEventListener('scroll', () => {
            let careers_btn = document.querySelector('.careers_box');
            if (window.scrollY >= 3400) {
                careers_btn.style.display = 'none';
            } else {
                careers_btn.style.display = 'block';
            }
        });
    </script>
  </head>
  <body>
    <% include ./layout/header %>
    <div class="sub_header">
        <div class="center_box culture_head">
            <p class="sub_page_title">
                <span class="softwiz_color">Who is</span> SOFTWIZ</p>
            <p class="sub_page_text">Looking for a positive colleague who is not afraid of change.</p>
        </div>
    </div>

    <div class="one_container">
        <section class="sec_1 culture_box">
            <div class="center_box">
                <ul class="culture_listBox">
                    <li class="carees_content carees_1">
                        <div class="culture_titleBox">
                            <p>Positivity</p>
                            <img src="/pc/image/icon_21.png">
                        </div>
                        <div class="culture_textBox">
                            <p>We accept challenges rather than the status quo.</p>
                            <p>When faced with a difficult problem, we approach it from a positive and multi-faceted perspective rather than giving up.</p>
                            <p>We keep all possibilities open and find and fix problems by asking questions and exploring them.</p>
                        </div>
                    </li>
                    <li class="carees_content carees_2">
                        <div class="culture_titleBox">
                            <p>Courage</p>
                            <img src="/pc/image/icon_22.png">
                        </div>
                        <div class="culture_textBox">
                            <p>
                                You say what you think, when it’s in the best interest of SOFTWIZ, even if it is uncomfortable.
                            </p>
                            <p>
                                Employees have the ability to contribute and communicate equally based on their own sense of logic and data, regardless of their role, experience level, or age. 
                            </p>
                            <p>
                                Today's actions will turn into tomorrow’s impact which will create a 'new experience.'
                            </p>
                        </div>
                    </li>
                    <li class="carees_content carees_3">
                        <div class="culture_titleBox">
                            <p>Value</p>
                            <img src="/pc/image/icon_23.png">
                        </div>
                        <div class="culture_textBox">
                            <p>
                                We aim for values that go beyond "good things."
                            </p>
                            <p>
                                We engage with colleagues in the journey of a project and work willingly for better results.
                            </p>
                            <p>
                                We continuously refine and improve our values and implement optimized business process with the aim of delivering the best service.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section id="sec2" class="sec_2 culture_box">
            <ul class="culture_list">
                <li class="culture_item culture_bg1">
                    <div class="center_box culture_center">
                        <div class="culture_itemBox">
                            <div class="culture_img_box">
                                <img src="/pc/image/bg8.png">
                            </div>
        
                            <div class="culture_info_box">
                                <div class="culture_mid">
                                    <img src="/pc/image/icon_24.png">
                                    <p class="culture_title">
                                        Easy commute 
                                    </p>
                                    <p class="culture_text">
                                        Stop rushing to work!
                                        ‘Only 60 seconds’ from the subway to the company.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="culture_paging">
                            <div class="culture_page active"></div>
                            <div class="culture_page"></div>
                            <div class="culture_page"></div>
                            <div class="culture_page"></div>
                            <div class="culture_page"></div>
                        </div>
                    </div>
                </li>
                <li class="culture_item culture_bg2">
                    <div class="center_box culture_center">
                        <div class="culture_paging">
                            <div class="culture_page"></div>
                            <div class="culture_page active"></div>
                            <div class="culture_page"></div>
                            <div class="culture_page"></div>
                            <div class="culture_page"></div>
                        </div>
                        <div class="culture_itemBox">
                            <div class="culture_info_box">
                                <div class="culture_mid">
                                    <img src="/pc/image/icon_25.png">
                                    <p class="culture_title">
                                        Top-notch equipment support
                                    </p>
                                    <p class="culture_text">
                                        Dual monitors, modern laptops, and 
                                        teleconferencing equipment. 
                                        Conference call equipment, etc. are provided as needed.
                                    </p>
                                </div>
                            </div>
    
                            <div class="culture_img_box">
                                <img src="/pc/image/bg9.png">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="culture_item culture_bg1">
                    <div class="center_box culture_center">
                        <div class="culture_itemBox">
                            <div class="culture_img_box">
                                <img src="/pc/image/bg10.png">
                            </div>
        
                            <div class="culture_info_box">
                                <div class="culture_mid">
                                    <img src="/pc/image/icon_26.png">
                                    <p class="culture_title">
                                        Take time away any time you want
                                    </p>
                                    <p class="culture_text">
                                        How you choose to spend your time off is your choice and does not require an explanation! Take time off and rest “for yourself” whenever needed.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="culture_paging">
                            <div class="culture_page"></div>
                            <div class="culture_page"></div>
                            <div class="culture_page active"></div>
                            <div class="culture_page"></div>
                            <div class="culture_page"></div>
                        </div>
                    </div>
                </li>
                <li class="culture_item culture_bg3">
                    <div class="center_box culture_center">
                        <div class="culture_paging">
                            <div class="culture_page"></div>
                            <div class="culture_page"></div>
                            <div class="culture_page"></div>
                            <div class="culture_page active"></div>
                            <div class="culture_page"></div>
                        </div>
                        <div class="culture_itemBox">
                            <div class="culture_info_box">
                                <div class="culture_mid">
                                    <img src="/pc/image/icon_27.png">
                                    <p class="culture_title">
                                        Fulfill your educational needs
                                    </p>
                                    <p class="culture_text">
                                        We provide educational assistance and sponsor training courses an employee is personally interested in. We invest in our employees and give them consistent opportunities to grow.
                                    </p>
                                </div>
                            </div>
    
                            <div class="culture_img_box">
                                <img src="/pc/image/bg11.png">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="culture_item culture_bg1">
                    <div class="center_box culture_center">
                        <div class="culture_itemBox">
                            <div class="culture_img_box">
                                <img src="/pc/image/bg12.png">
                            </div>
        
                            <div class="culture_info_box">
                                <div class="culture_mid">
                                    <img src="/pc/image/icon_28.png">
                                    <p class="culture_title">
                                        Unlimited crispy toasts served
                                    </p>
                                    <p class="culture_text">
                                        We care and ensure our employees are fully charged even when they skip breakfast because they woke up late. Stay HUNGRY. But that refers to your ambition, not your empty stomach!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="culture_paging">
                            <div class="culture_page"></div>
                            <div class="culture_page"></div>
                            <div class="culture_page"></div>
                            <div class="culture_page"></div>
                            <div class="culture_page active"></div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="culture_footer">
                <div class="center_box">
                    <div class="accent_list">
                        <div class="accent_item">
                            <div class="accent_box">
                                <div class="accent_count">
                                    <img src="/pc/image/icon29.png">
                                </div>

                                <div class="accent_content">
                                    <p class="accent_title">
                                        Basic benefits
                                        and perks
                                    </p>
                                    <p class="accent_text">
                                        Annual medical check up
                                    </p>
                                    <p class="accent_text">
                                        3 days of paid leave for COVID-19 vaccination
                                    </p>
                                    <p class="accent_text">
                                        Employee recognition award
                                    </p>
                                    <p class="accent_text">
                                        100% of salary during the probationary period
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="accent_item">
                            <div class="accent_box">
                                <div class="accent_count">
                                    <img src="/pc/image/icon30.png">
                                </div>

                                <div class="accent_content">
                                    <p class="accent_title">
                                        To help you stay 
                                        focused at work
                                    </p>
                                    <p class="accent_text">
                                        1 minute walk to subway
                                    </p>
                                    <p class="accent_text">
                                        Provide all employees access to the latest technology tools and devices
                                    </p>
                                    <p class="accent_text">
                                        Offer monthly stipend to spend on lunch
                                    </p>
                                    <p class="accent_text">
                                        We don’t have a dress code
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="accent_item">
                            <div class="accent_box">
                                <div class="accent_count">
                                    <img src="/pc/image/icon31.png">
                                </div>

                                <div class="accent_content">
                                    <p class="accent_title">
                                        Enjoy your 
                                        break
                                    </p>
                                    <p class="accent_text">
                                        Paid annual leaves and half-day of work leaves
                                    </p>
                                    <p class="accent_text">
                                        Report after annual leave
                                    </p>
                                    <p class="accent_text">
                                        You can submit a leave request form after leave was taken
                                    </p>
                                    <p class="accent_text">
                                        5 days of summer vacation (weekends are not counted within the summer vacation)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% include ./layout/footer %>
    </div>
    <div class="careers_box">
        <a href="/en/openVacancies">Join us</a>
    </div>

    <script>
        $(function() {
            careers_slide();
        });
        function careers_slide() {
            let careers_resize = document.documentElement.clientWidth;

            let careers_slide = $('.accent_list').bxSlider({
                controls: false,
                minSlides: 1,
                maxSlides: 1,
            });     

            if (careers_resize <= 1140) {
                careers_slide.reloadSlider();
            } else {
                careers_slide.destroySlider();
            }

            $(window).on('resize', function() {
                if(window.innerWidth <= 1140)  {
                    careers_slide.reloadSlider();
                } else {
                    careers_slide.destroySlider();
                }
            })
        }
    </script>
  </body>
</html>