<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>교회 오빠</title>
    <!-- Bootstrap js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/jumbotron.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <!-- Kakao Map -->
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=80d6fac198542c9021cd4229a30df6b2"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/chuchpage.js"></script>
    <script src="../js/common.js"></script>
    <!-- <script type="module" src="../js/sha256.js"></script>
    -->

    <!-- kakaoMap -->
    <script>

</script>

    <script>
        $(document).ready(function() {
            let church_result = search_church();
            window.church_data = church_result;
            // 검색된 교회 정보값 가져오기.
            var lateX = church_result[0].ChurchLateX; 
            var lateY = church_result[0].ChurchLateY;

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(lateX, lateY), // 지도의 중심좌표
                level: 2 // 지도의 확대 레벨
            };

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
            var mapTypeControl = new kakao.maps.MapTypeControl();

            // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
            // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
            map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

            // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
            var zoomControl = new kakao.maps.ZoomControl();
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
            // 37.549219 127.128118
            // 지도에 마커를 표시합니다 
            var marker = new kakao.maps.Marker({
                map: map, 
                position: new kakao.maps.LatLng(lateX, lateY)
            });

            // 커스텀 오버레이에 표시할 컨텐츠 입니다
            // 커스텀 오버레이는 아래와 같이 사용자가 자유롭게 컨텐츠를 구성하고 이벤트를 제어할 수 있기 때문에
            // 별도의 이벤트 메소드를 제공하지 않습니다 
            var content = '<div class="wrap">' + 
                '    <div class="info">' + 
                '        <div class="title">' + 
                            `${church_result[0].ChurchName}` + 
                '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
                '        </div>' + 
                '        <div class="body">' + 
                '            <div class="img">' +
                `                <img src="${church_result[0].ChurchMapIMG}" width="73" height="70">` +
                '           </div>' + 
                '            <div class="desc">' + 
                '                <div class="ellipsis"><%=church.ChurchAddr%></div>' + 
                `                <div class="jibun ellipsis">${church_result[0].ChurchJibun}</div>` + 
                `                <div><a href="${church_result[0].ChurchHome}" target="_blank" class="link">홈페이지</a></div>` + 
                '            </div>' + 
                '        </div>' + 
                '    </div>' +    
                '</div>';
            // 마커 위에 커스텀오버레이를 표시합니다
            // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
            var overlay = new kakao.maps.CustomOverlay({
                content: content,
                map: map,
                position: marker.getPosition()
            });

            // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
            kakao.maps.event.addListener(marker, 'click', function() {
                overlay.setMap(map);
            });

            // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다 
            function closeOverlay() {
                overlay.setMap(null);
            }
        });

        var search = '<%=church.name%>';

        // 검색된 교회 데이터 가져오기
        function search_church() {
            $.ajax({
                url : '/ajax/search',
                type : "POST",
                async: false, 
                data : {
                    church_name : search
                },
                success : function(result) {
                    let church_info = $(".church_info");
                    if (result) {
                        // data 전달
                        church_data = result;
                        let str = "";
                        str = ` <button type="button" class="btn btn-outline-info center" onfocus="this.blur();">위치 : ${result[0].ChurchLocate}</button>
                                <button type="button" class="btn btn-outline-info center" onfocus="this.blur();">교단 : ${result[0].ChurchReli}</button>
                                <div class="col mb-2">
                                </div>
                                <button type="button" class="btn btn-outline-info center" onfocus="this.blur();">규모 : ${result[0].ChurchScales}</button>
                                <button type="button" class="btn btn-outline-info center" onfocus="this.blur();">담임목사 : ${result[0].ChurchPastor}</button>
                                <button type="button" class="btn btn-outline-info center" onfocus="this.blur();">전화번호 : ${result[0].ChurchTel}</button>
                                <br />
                                <br />
                                <br />
                                <button type="button" class="btn btn-outline-dark center" onfocus="this.blur();" onclick="window.open('${result[0].ChurchHome}')">교회 홈페이지</button>`

                        church_info.append(str)
                        inquiry_board()
                    } else {
                    
                    }
                },
                error : function(request,status,error) {
                    console.log(request+"\n",status,"\n",error, "\n")
                }
            });
            
            return church_data;
        }

        // 게시판 조회하기.
        function inquiry_board() {
            let _church_no = window.church_data[0].ChurchNo;
            $.ajax({
                url : '/ajax/inquiry_board',
                type : "POST",
                data : {
                    church_no : _church_no
                },
                success : function(result) {
                    console.log("result", result)
                    let church_board = $('.board');
                    for(let i = 0; i < result.length; i++) {
                        let str = ` 
                                    <tr  <a onclick="move_link('/board/', ${result[i].BoardNo})">>
                                        <td><h6>${result[i].BoardTitle}</h6></td>
                                        <td><h6>${result[i].BoardID}</h6></td>
                                        <td><h6>${result[i].BoardRegDate}</h6></td>
                                        <td><h6>${result[i].BoardHits}</h6></td>
                                        <td>
                                            <button class="likebtn" id="like1">
                                                <span id = heart><i class="fa fa-heart-o" aria-hidden="true" ></i> ${result[i].BoardLike} </span>
                                            </button>
                                        </td>
                                    </tr>`;
                        church_board.append(str);
                    }
                    // console.log("얘는 왜 실행?")
                },
                error : function(request,status,error) {
                    console.log(request+"\n",status,"\n",error, "\n")
                }
            });
            // return church_data;
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">교회오빠</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </nav>

    <!-- <main role="main"> -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <!-- 전체 테두리 -->
        
        <div class="row p-2">
            <div class="col p-3 col-6">
                <div>
                    <h3 id="ChuchTittle"></h3>
                    
                    <br />
                </div>
                <!-- 좌측 컨텐츠 -->
                <h4>교회 정보</h4>
                <div class="church_info mt-4">

                </div>
                <div class="mt-4">
                </div>
            </div>
                <!-- 우측 컨텐츠 -->
                <div class="col p-0 col-6">
                </br />
                </br />
                    <h4>후기</h4>
                    <div class="form-row float-right" style="padding: 10px;">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewModal" onclick="initButton();">글쓰기</button>
                    </div>
                        <table class="table table-hover" style="cursor: pointer;">
                            <tbody class="board" >
                                <!-- <tr>
                                    <td><h6>예배가 너무 은혜스러워요</h6></td>
                                    <td><h6>exam</h6></td>
                                    <td><h6>2022-04-11</h6></td>
                                    <td><h6>10</h6></td>
                                    <td>
                                        <button class="likebtn" id="like1">
                                            <span id = heart1><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h6>교회가 너무 이뻐요</h6></td>
                                    <td><h6>exam</h6></td>
                                    <td><h6>2022-04-11</h6></td>
                                    <td><h6>10</h6></td>
                                    <td>
                                        <button class="likebtn" id="like2">
                                            <span id = heart2><i class="fa fa-heart-o" aria-hidden="true" ></i> </span> 1
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h6>목사님 사랑해요♡</h6></td>
                                    <td><h6>사랑꾼</h6></td>
                                    <td><h6>2022-04-11 </h6></td>
                                    <td><h6>10 </h6></td>
                                    <td>
                                        <button class="likebtn" id="like3">
                                            <span id = heart3><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
                                        </button>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                        <ul class="pagination center-block" style="width:300px; padding:15px">
                            <li class="page-item"><a class="page-link" href="#">← Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li> -->
                            <!-- <li class="page-item"><a class="page-link" href="#">Next →</a></li> -->
                        </ul>

                        <!-- 글 쓰기 Form -->
                        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">교회 후기</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="modal">
                                <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">title</label>
                                        <input type="text" class="form-control" id="recipient-title" maxlength='40'>
                                    </div>
                                    <div class="form-group">
                                        <h6 style="font-size: 12px;">
                                            다른 사람의 인격권을 침해하거나 명예를 훼손하게 하는 글, 불쾌감을 주는 욕설 또는 비방하는 글, 유언비어나 허위사실을 유포하는 글, 도배성 글의 경우 글이 삭제되거나 이용제재를 받을 수 있습니다.
                                        </h6>
                                        <label for="message-text" class="col-form-label">Content</label>
                                        <textarea class="form-control" id="message-text" maxlength='700'></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="form-inline mb-1 ml-1">
                                            <label for="replyId"><i class="fa fa-user-circle-o fa"></i></label>
                                            <input type="text" class="form-control ml-1" placeholder="Enter your ID" id="replyId" size="12">
                                            <label for="replyPassword"><i class="fa fa-unlock-alt fa mr-2 pl-2"></i></label>
                                            <input type="password" class="form-control ml-1" placeholder="Enter password" id="replyPassword" size="12">
                                        </div>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-primary" onclick="create_board();">글쓰기</button>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 카카오 Map 들어가는 자리 -->
        <div class="container">
            <div class="row p-4">
                <div id="map" style="width:45%;height:350px">
            </div>
        </div>
        <script	src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
        <script>
        // 날짜나 달에 1의 자리만 있을 경우 0을 붙여주는 함수.
        function day_month_format(n) {
            return (n < 10 ? '0' : '') + n;
        }

        function create_board() {
            //  오늘 날짜 포맷 만들기.
            var date = new Date();
            var month = day_month_format(date.getMonth()+1); //months (0-11)
            var day = day_month_format(date.getDate()); //day (1-31)
            var year = date.getFullYear();
            var date_format =  year + "-" + month + "-" + day;

            var board_data = {
                church_no : window.church_data[0].ChurchNo,
                board_title : $('#recipient-title').val().trim(),
                board_content : $('#message-text').val(),
                board_reg : date_format,
                board_like : 0,
                board_hits : 0,
                board_id : $('#replyId').val().trim(),
                board_pw : sha256($('#replyPassword').val().trim()),
            };
            $.ajax({
                url : '/ajax/create_board',
                type : "POST",
                data : board_data,
                success : function(result) {
                    console.log(result);
                    $('#reviewModal').modal("hide");
                    $(".modal-backdrop").remove();
                    initButton();
                    $(".board").empty();
                    inquiry_board();
                    // console.log("얘는 왜 실행?")
                },
                error : function(request,status,error) {
                    console.log(request+"\n",status,"\n",error, "\n")
                }
            });
            // return church_data;
        }
    </script>
    <!-- <footer class="container">
        <div class="container row" style="float: none; margin:100 auto;">
            <div class="col-md-3" style="float: none; margin:0 auto;">
            <p>&copy; Company 2017-2018</p>
        </div>
        </div>
    </footer> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script>window.jQuery || document.write('<script src="../assets/js/jquery-slim.min.js"><\/script>')</script> -->

</body>
</html>
